{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}


{% block title %}Music List{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Star Wars Species</h1>
        <a href="#" class="btn btn-primary">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Species Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for species_url,species_data in species.items %}
            <tr>
                <td>{{ species_data.name }}</td>
                <td>
                <a href="{% url 'species_details' species_url %}" class="btn btn-info">
                    <i class="fas fa-eye"></i>
                </a>
                <button class="btn btn-danger delete-btn" data-uri="{{ species_url|urlencode }}">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal for editing music -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div id="editModalContent"></div>  <!-- This will be filled with the modal content -->
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('.edit-btn').click(function () {
            var musicUri = $(this).data('uri');
            var decodedUri = decodeURIComponent(musicUri);
            console.log(musicUri);
            console.log(decodedUri);
            $('#editModalContent').load(`/edit/${decodedUri}/`, function () {
                $('#editModal').modal('show');
            });
        });
    });
</script>

{% endblock %}

</body>
</html>
